 <% @participations.each do |participation| %>
<% binding.pry %>
  <div class="participation__card">
    <div class="number"><span>No.<%#= i %></span></div>
    <div class="user__name"><span>id:<%= participation.user.id%>:<%= p.user.name%></span></div>
    <div class="delete__btn">
      <%= link_to participation_path(participation), class: "text-danger", data: { confirm: '本当に削除しますか?' } ,:method => :delete do %>
        <i class="fas fa-trash"></i> 
      <% end %>
    </div>
  <div>
  <% end %>
