<h1 class="main__title">参加者一覧</h1>

<div class="page__link">
  <%# 追加ボタン %>
  <%= link_to new_participation_path(@category_id),class:"page__link__style", :method => :get do %> 
    <span>共有者を追加</span><i class="fas fa-plus-circle"></i>
  <% end %>
</div>

<% if @participations.empty? %>
  <p class="no__data__card">現在共有しているユーザーはいません</p>
<% else %>
  <%= render partial: 'participation_card'%> 
<% end %>