<h1 class="main__title">参加者一覧</h1>

<div class="page__link">
  <%# 追加ボタン %>
  <%= link_to new_participation_path(@category_id),class:"page__link__style", :method => :get do %> 
    <span>共有者を追加</span><i class="fas fa-plus-circle"></i>
  <% end %>
</div>

<% binding.pry%>
<% if @participations.empty? %>
  <p class="no__data__card">現在共有しているユーザーはいません</p>
<% else %>
 
  <%#= render partial: 'participation_card', locals: { participations: @participations }%>
  
<% @participations.each do |participation| %>
 
  <div class="participation__card">
    <span class="number"><span>No.<%#= i %></span></span>
    <span class="user__name"><span>id:<%= participation.user.id%>:<%= participation.user.name%></span></span>
    <span class="delete__btn">
      <%= link_to participation_path(participation.id), class: "text-danger", data: { confirm: '本当に削除しますか?' } ,:method => :delete do %>
        <i class="fas fa-trash"></i> 
      <% end %>
    </span>
  <div>
  <% end %>

<% end %>