  <div class="card category-card">
    <div class="text-left">
      <span>
        <%= link_to "キャンセル", comments_path, class: 'text-dark'%>
      </span>
    </div>

    <div class="text-center">
      <span>コメントの編集</span>
    </div>
  </div>

  <div class="card category-form">
    <%= form_with model: @comment, local: true do |f| %>
    <p class="pt-3">コメント名：<%= f.text_field :content, size: 50, class: "category-submit" %></p>
  </div>

      <%= f.submit "更新" , class:"btn-block category-button"%>
    <% end %>