
<div>
  <div class ="text-left ">
        <span>
        <%= link_to "キャンセル", root_path, class: 'text-dark'%>
      </span>
  </div>

  <div class ="text-right ">
    <span >コメントを追加</span>
  </div>
</div>

<div class="card bg-primary mb-3">
  <ul class="text-light">
    <li>日付</li>
    <li>編集ボタン</li>
    <li>削除ボタン</li>
  </ul>
</div>


<div class="card bg-primary mb-3">
  <ul class="text-light">
    <li>日付</li>
    <li>編集ボタン</li>
    <li>削除ボタン</li>
  </ul>
</div>

<div class="card bg-primary mb-3">
  <ul class="text-light">
    <li>日付</li>
    <li>編集ボタン</li>
    <li>削除ボタン</li>
  </ul>
</div>

<div class="card bg-primary mb-3">
  <ul class="text-light">
    <li>日付</li>
    <li>編集ボタン</li>
    <li>削除ボタン</li>
  </ul>
</div>