<h1>タスク</h1>

<div class="text-right">
   <%# 追加ボタン %>
    <%= link_to new_task_path, class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %> 
      <span class="mr-2">タスクを追加</span><i class="fas fa-plus-circle"></i>
    <% end %>
</div>
  

<div id="tasks-list">

<% @tasks.each do |t| %>

  <ul class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">

        <div class="task-status">
             
          <%# チェックボックス デモ%>        
          <i class="far fa-check-square text-primary mr-5"></i>
          
          <%# グリッド%>  
          <i class="fas fa-grip-lines-vertical text-primary grip mr-2 "></i>

          <%# タスク名 %>
          <span class="h5 pr-5"><%= t.name %></span>
        </div>  

        <%# ボタン %>
        <div class="d-none d-sm-block ">
          <div class="btn-group d-flex">
            <div class="btn-toolbar">
       
                <%# 編集ボタン %>
                <%= link_to edit_task_path(t),class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %>
                  <i class="fas fa-pen"></i>
                <% end %>

                <%# コメント一覧へリンク %>
                <%= link_to "コメントへ", comments_path, class: "btn text-primary btn-sm btn-sm mr-1"%>

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>

<% end %>
</div>

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
   <title>Document</title>
 </head>
 <body>



<div id="contents">
    <div class="tab_box">
      <ul class="tab_list ">
        <li v-on:click="change('A')" v-bind:class="{'active': isActive === 'A'}">タブ1</li>
        <li v-on:click="change('B')" v-bind:class="{'active': isActive === 'B'}">タブ2</li>
        <li v-on:click="change('C')" v-bind:class="{'active': isActive === 'C'}">タブ3</li>
      </ul>
 
      <ul class="article">
        <li v-if="isActive === 'A'">ダミーテキスト1</li>
        <li v-else-if="isActive === 'B'">ダミーテキスト2</li>
        <li v-else-if="isActive === 'C'">ダミーテキスト3</li>
      </ul>
    </div>
 
  </div>

  <script src="vue.js"></script>
  <script src="main.js"></script>

 </body>
 </html>
 