<section class="form__index">
  <!--　キャンセル　-->
  <div class= "page__back">
    <%= link_to "キャンセル", tasks_path, class:"back__style"%>
  </div>
  <!--　新規作成　-->
  <div class="page__link">
    <%= link_to new_comment_path(task_id: @task_id), class:"page__link__style",:method => :get do %> 
      <span>コメントを追加</span><i class="fas fa-plus-circle"></i>
    <% end %>
  </div>
</section>

<!--　タスク名　-->
<p class="comment__task__name">【<%= @task.name %>】</p>

<!--　コメントカード　-->
<% if @comments.present? %>
  <%= render partial: 'comment_card'%>
<% else %>
  <div><p class="no__data__card">登録されているコメントはありません</p></div>
<% end %>
