<div class="home-title">
  <h1>生み出すからこそ、進化できる</h1>
  <h5>ListShareなら、オリジナルのリスト作成・改善をサポートします</h5>
</div>

<section class="text-center">
  <span><%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "gest-btn btn text-light px-5",method: :post %></span>
  <span><%= link_to '無料で新規作成', new_user_session_path, class: "btn text-light px-5 registration-btn", method: :post %></span>
</section>

<section class="login-link">
  <%= link_to 'すでにアカウントをお持ちですか？ログイン', new_user_session_path,method: :post %>
</section>



<section>
  <div class="top-image w-50">    
   <%= image_tag "image-photo.png", width:'90%', height:'90%'%>    
  </div>

  <div class="home-text w-50">
    <h4>習慣のリスト化</h4>
    <p>自分だけのオリジナルリストを作成できます</p>
    <h4>リストを共有する</h4>
    <p>作成したリストを、ご家族・友人と共同で使用することができます</p>
    <h4>思うままに自由に編集</h4>
    <p>カテゴリーからオリジナルで作成することができます</p>
    <h4>簡単に素早く変更</h4>
    <p>ドラッグ＆ドロップで素早く並べ替えが可能です</p>
  </div>
</section> 
