@import "modules/variables";

.card {
   margin-bottom: 10px;
 }

.card__drag {
  
  .card__content {
    display: flex;
    background-color: $cWhite;
    margin-bottom: 10px;
    
    .card__left__content {
        text-align: left;
        flex: 70%;
        padding: 10px;    


        & .checkbox {
          color: $cBlack;
        }
 
        .grid {
          color: $cPurple;
          margin-right: 10px;
        }
        
        & .name {
          color: $cBlack;
          margin-right: 10px;
          font-size: 14px;
          // font-size: .font-sm; 
        }
      }


      .card__right__content {
        flex: 30%;
        text-align: right;
        padding: 10px;    
        
        & .edit {
          color: $cPurple;
          margin-right: 10px; 
        }
        & .comment {
          color: $cPurple;
          margin-right: 10px; 
        }
         
        & .shara {
        color: black;
        margin-right: 10px;
        }
      }
    }
}



.checkbox{
  margin-right: 15px;
  color: #003b90;
 }
 

 
 

