/*カラー*/
$cPurple:rgb(0,59,144);  //紫
$cLiteBlue:rgba(188,226,232,0.9);  //水色
$cLitePurple: rgba(0,132,202,0.9);  //薄紫
$cRed: rgb(237,85,27);  //赤
$cWhite: white;
$cBlack: black;


.task-card {
  
  .card__content {
    display: flex;
    max-width: 1280px;
    background-color: $cWhite;
    margin-bottom: 10px;
    
    
    
    .card__left__content {
        text-align: left;
        flex: 70%;
        padding: 10px;    


        & .checkbox {
          color: $cBlack;
        }
 
        .grid {
          color: $cPurple;
          margin-right: 10px;
        }
        
        & .name {
          color: $cBlack;
          margin-right: 10px;
          font-size: 14px;
          // font-size: .font-sm; 
        }
      }


      .card__right__content {
        flex: 30%;
        text-align: right;
        padding: 10px;    
        
        & .edit {
          color: $cPurple;
          margin-right: 10px; 
        }
        & .comment {
          color: $cPurple;
          margin-right: 10px; 
        }
      }
    }
}








.checkbox{
  margin-right: 15px;
  color: #003b90;
 }
 

 
 .card {
   margin-bottom: 10px;
 }