@import "modules/variables";

/* キャンセル + タイトル + 余白 */
.form-top {
  display: flex;
  margin: 0 auto;
  height: 5vh;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  
  & .title {
    flex: 50%;
    text-align: center;
    padding: 10px;
  }
  & .back {
    flex: 25%;
    font-size: 10px;
    padding-left: 20px;
  }
 & .space {
    flex: 25%;

  }
}

.form {
  margin: 0 auto;
  
  & .form__title{
    color: $cPurple;
    
    margin-top: 50px;
    // @extend .font-sm;
     border-left: solid 5px $cPurple;   
     padding-left: 10px;
  }

  & .form__submit {
    border: 0px none; /*枠線をなくす*/
    height: 10vh;
    width: 100%;
    padding: 10px;
    // box-shadow: 0 0 3px 1px rgba(0,0,0,0.1) inset;
    box-shadow: 2px 2px 4px gray;  

  }
}


/* キャンセル + リンク*/
.form__index {
  display: flex;
  margin: 0 auto;
  height: 5vh;
  width: 100%;
  margin-top: 30px;
  justify-content: center;

  & .back {
    flex: 50%;
    text-align: left;
    font-size: 10px;
    padding: 10px;
  }
  
   & .link {
    flex: 50%;
    font-size: 14px;
    text-align: right;
    padding: 10px;
  }
}
