@import "modules/variables";
@import "breakpoints/base";

/*-------------------------
キャンセルリンク用
-------------------------*/
.page__back {
  margin: 20px 0px 20px 10px;
  max-width: $contentMaxWidth;
  & .back__style {
    font-size: 14px;
    color: $cPurple;
    // @extend .font-sm;
     &:hover {
      text-decoration: none;  
    }
  }
}

/*-------------------------
右寄せ
-------------------------*/
.page__link {
    text-align: right;
    padding:20px 10px;

    .page__link__style{
      color: $cPurple;
    
      &:hover {
      text-decoration: none;  
      }
    }

    span {
    margin-right: 5px;
    }
  }
