/*カラー*/
$cPurple: rgb(0,59,144);  /*紫*/
$cLiteBlue: #f0f8ff;/*水色*/
$cLitePurple: rgba(0,132,202,0.9); /*薄紫*/
$cInfo: #17a2b8;
$cRed: rgb(237,85,27);
$cWhite: white;
$cBlack: black;

/*最大幅*/
$contentMaxWidth: 1070px;