/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* bootstrap*/
 @import "bootstrap";


 /* modules*/
 @import "modules/variables";
 @import "modules/button";
 @import "modules/form";
 
 /* responsible */
 @import "breakpoints/base";

 /* scss*/
 @import "common";

  /* swiper*/
 @import 'swiper/swiper-bundle';

/******************************************************************
flash
******************************************************************/
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}



/******************************************************************
swiper
******************************************************************/
.swiper-container {
  width: 300px;
  height: 50px;
  //TODO: 中央に寄せる// margin: 0 auto;
}

.swiper-wrapper {
  height:50vw;
}

.swiper-slide {
  background-color: $cPurple;
  // background-color: aqua;
  color: white;
  height: 50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ページネーション の矢印
// .swiper-button-next,.swiper-button-prev {
//   color: white;
// }
