/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap/scss/bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "@fortawesome/fontawesome-free/scss/fontawesome";
 @import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap');
 @import "breakpoints/base";
 @import "home";
 
 //  @import "modules/variables";


/*ボタン*/
#home-btn {
  text-align: center;
  margin:30px;

  .btnn {
    background-color: $cWhite;
    color: $cBlack;
    border: 2px solid $cPurple;
    padding: 15px 50px;
    margin: 50px 10px 50px 0;
    font-weight: 600px;
    cursor: pointer;
    transition: all 0.3s; 

    /*スライドボタン*/
    &.slide-bg {
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: $cPurple;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
        z-index: -1;
        }
      
      &:hover {
      color:$cWhite;
        &::before {
          transform: none;
        }
      } 
         
    }

      /*シャドーボタン*/
      &.shadow:hover {
        transform: translate(-2.5px, -2.5px); 
        box-shadow: 5px 5px 0 0 $cBlack;
      }
  }
}















/******************************************************************
レスポンシブルデザイン
******************************************************************/

/*スマホのランドスケープ*/
@media(min-width: 480px) {
  @import "breakpoints/480up";
}

/*タブレット*/
@media(min-width: 600px) {
  @import "breakpoints/600up";
}

/*タブレットのランクスケープ*/
@media(min-width: 960px) {
  @import "breakpoints/960up";
}

/*ディスプレイ*/
@media(min-width: 1280px) {
  @import "breakpoints/1280up";
}

/*レキナディスプレイ*/
@media (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

/*プリント*/
@media print {
  @import "breakpoints/print";
}



/******************************************************************
devise
******************************************************************/


 .mw-md {
  max-width: 576px;
}

// devise
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}


//header
.header-color {
  background-color: $cPurple;
}

.nav-color {
  font-size: 14px;
  color: white;
}

// 共通
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}


//footer
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: $cPurple;
  margin-top: auto;
}

  .footer-text {
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 5px 0;
  }

// フラッシュ

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

//マイページ

//データリセット
.reset-button {
  background-color: $cRed;
  border: 0px none;
  margin-top: 100px;
  border-radius: 5px;
}

// ログアウト
.logout-button {
  padding: 10px 50px;
  background-color: $cRed;
  margin-top: 50px;
  border-radius: 5px;
}




// カテゴリー

.category-card {
 color: black;
 background-color: $cLiteBlue;
 padding: 5px 50px;
 margin-bottom: 30px;
 border: 0px none;
}

.category-form {
 color: black;
 background-color: $cLiteBlue;
 padding: 5px 50px;
 border: 0px none;
}

//更新ボタン・作成ボタン
.category-button {
  color: white;
  margin-top:70px;
  padding: 10px 50px;
  background-color: $cPurple;
  border: 0px none;
  border-radius: 5px;
}

.category-submit {
 border: 0px none;
//form内の色を付けたい場合
//background-color:rgba(188,226,232,0.9)
}

// 削除ボタン
.category-delete {
  margin-top: 350px;
  padding: 10px 50px;
  background-color: $cRed;
}


.display-none{
    display:none;
}

#tabs ul {
  list-style: none
}

.icon-style {
  color: rgba(0,59,144,0.9);
}

.comment-bg {
  color: #003b90;
  background-color: $cLiteBlue;
  
}

//hover時に下線を表示させない
a:hover {
  text-decoration: none;  
}












//実験
body {
  font-family: 'Kameron','Noto Sans JP', sans-serif;
}
