@import "modules/button";
@import "modules/form";


#category-btn {
  text-align: center;

  & .float-red {
    margin-top: 50px;
  }

  & .float-purple {
   margin-top: 30px;
  }
}




/*-------------------------
link
-------------------------*/
.new-category-link {
  text-align: right;
  margin-bottom: 15px;
  span {
    padding-right: 10px;
  }
}


/*-------------------------
category-card
-------------------------*/

.category-name {
  padding-right: 30px;
  font-size: 20px;
}

.card {
  margin-bottom: 10px;
}

.grid {
  color: #003b90;
  margin-right: 10px;
}

.shara-link {
  color: black;
  margin-right: 10px;
}

.category-edit-link {
  color: #003b90;
  margin-right: 10px;
}



// カテゴリー
.category-card {
 padding: 5px 50px;
 margin-bottom: 30px;
 border: 0px none;
}

.category-form {
 color: black;
 background-color: $cLiteBlue;
 padding: 5px 50px;
 border: 0px none;
}

//更新ボタン・作成ボタン
.category-button {
  color: white;
  margin-top:70px;
  padding: 10px 50px;
  background-color: $cPurple;
  border: 0px none;
  border-radius: 5px;
}



// 削除ボタン
.category-delete {
  margin-top: 350px;
  padding: 10px 50px;
  background-color: $cRed;
}