/*-------------------------
category_btn
-------------------------*/
#category-btn {
  text-align: center;
  & .float-red {
    margin-top: 50px;
  }
  & .float-purple {
   margin-top: 30px;
  }
}

/*-------------------------
category_link
-------------------------*/
.new-category-link {
  text-align: right;
  margin-bottom: 15px;

  span {
    margin-right: 10px;
  }
}

.name {
 a:hover {
  text-decoration: none;  
  }
}
