@import "modules/variables";

/******************************************************************
responsible
******************************************************************/
@media screen and (min-width: 480px) {
  @import "breakpoints/480up";
}

@media screen and(min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media screen and(min-width: 1280px) {
  @import "breakpoints/1280up";
}

@media screZen and(min-resolution: 192dpi)
      ,(-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}
@media print {
  @import "breakpoints/print";
}

/******************************************************************
header
******************************************************************/
  .header-color {
    background-color: $cPurple;
    .navbar-brand {
      color: $cWhite;
    }
    .nav-link {
      font-size: 14px;
      color: white;
    }
    .header-icon {
      color: $cWhite;
      //周りの白い線を消す
     }
  }

/******************************************************************
wrapper
******************************************************************/
#wrapper {
  width: 100%;
  position: relative;
  min-height: 100vh; //高さの最小値の指定
  padding-bottom: 50px;
}

/******************************************************************
footer
******************************************************************/
footer {
  background-color: $cPurple;
  // margin-top: auto;
  width:100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  }
  .footer-text {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 5px 0;
  }


/******************************************************************
error_message
******************************************************************/
 .error-alert {
    color: $cRed; 
    background-color: $cWhite;
    border:1px solid $cRed;
    padding:12px; font-weight:850;
    margin:10px 0;
  }


.devise-btn {
    text-align: center;
  }
  