//継承させる
// @extend %base-color

$cPurple:rgb(0,59,144);  //紫
$cLiteBlue:rgba(188,226,232,0.9);  //水色
$cLitePurple: rgba(0,132,202,0.9);  //薄紫
$cRed: rgb(237,85,27);  //赤
$cWhite: white;
$cBlack: black;




/*-------------------------
title
-------------------------*/
.home-title {
  h1{
    color: #003b90;
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
  }
  h5 {
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;

  }
}

/*-------------------------
button/link
-------------------------*/
.gest-btn {
  margin-right: 15px;
  background-color: $cPurple;
}

.registration-btn {
  margin-left: 15px;
  background-color: $cPurple;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

/*-------------------------
content
-------------------------*/
.top-image {
  padding-bottom: 50%;
  float: left;
}

.home-text {
  float: right;
  padding-left: 50px;

  h4 {
    font-size: 20px;
    font-weight: bolder;
  }

  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}


