@import "modules/variables";

#participation-form {
  max-width: 800px;
  margin: 0 auto;
  & .title{
    color: $cPurple;
    margin-top: 50px;
    // @extend .font-sm;
     border-left: solid 5px $cPurple;
     padding-left: 10px;
  }

  & .submit {
    border: 0px none; /*枠線をなくす*/
    height: 10vh;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1) inset;
  }

}


#participation-btn {
  text-align: center;
  
  & .float-purple {
   margin-top: 30px;
  }
}


/*参加者のカード*/
.participation__card {
  display: flex;
  background-color: $cWhite;
  padding: 20px 40px;
  margin: 0 auto;
  margin-bottom: 10px;


  & .number {
    flex: 15%;
  }

   & .user__name {
    flex: 70%;
    text-align: center;
   }

   & .delete__btn {
    flex: 15%;
     text-align: right;
   }

}