// @import "./modules/template";
// @import "modules/variables";
 @import "modules/button";
 @import "modules/form";


#task-btn {
  text-align: center;

  & .float-red {
    margin-top: 50px;
  }

  & .float-purple {
   margin-top: 30px;
  }
}


/*-------------------------
link
-------------------------*/
.task-link {
  text-align: right;
  margin-bottom: 15px;
  span {
    padding-right: 10px;
  }

}

/*-------------------------
tab
-------------------------*/
 .tab_list {
    overflow: hidden;
  }
  .tab_list li {
    float: left;
    padding: 10px 20px;
    border: 1px solid $cWhite;
    cursor: pointer;
    transition: .3s;
  }
  .tab_list li:not(:first-child) {
    border-left: none;
  }
  .tab_list li.active {
    background-color: $cBlack;
    border-color: $cBlack;
    color: $cWhite;
    cursor: auto;
  }
  .article{
    overflow: hidden;
    margin-top: -1px;
  }
  .article li {
    width: 320px;
    padding: 20px;
    border: 1px solid $cWhite;
  }


/*-------------------------
card
-------------------------*/

.checkbox{
 padding-right: 15px;
 color: #003b90;
}

.grid {
  color: #003b90;
  margin-right: 10px;
}

.task-name {
  padding-right: 30px;
  font-size: 20px;
}
 
.task-edit-link {
  color: #003b90;
  margin-right: 10px; 
}


.task-comment-link {
  color: #003b90;
  margin-right: 10px; 
}

.card {
  margin-bottom: 10px;
}