<section class="form">
  <div class="form__title">
    <p>カテゴリー名</p>
  </div>
    
<%= render "layouts/error_form", model: @category %>

  <%= form_with model: @category, local: true do |f| %>    
    <p><%= f.text_field :name ,size: 50, class: "form__submit"%></p>
    <div id="category-btn">
      <%= f.submit button_value, class:"btn float-purple"%>
    </div>
  <% end %>
</section>