<%= render partial: "form", locals:{ button_value: "更新" } %>

<% binding.pry%>


<section id="category-btn">
  <%= link_to category_path(@category), method: :delete do %>
    <button class="btnn float-red">カテゴリーを削除</button> 
  <% end %>
</section>