<h1 class="main__title">カテゴリー</h1>

<%# 追加ボタン %>
<div class="page__link">
  <%= link_to new_category_path, class:"page__link__style", :method => :get do %> 
    <span>カテゴリーを追加</span><i class="fas fa-plus-circle"></i>
  <% end %>
</div>

<%# カテゴリーリスト %>
<div id="tasks-list">
  <div data-controller="drag" data-drag-url = "/categories/id/move">
    <% @categories.each do |category| %>
      <%= render partial: 'categories_card' ,locals: {category: category} %>   
    <% end %>
  </div>
</div> 