<section class="form-top">
  <div class= "page__back">
    <%= link_to "キャンセル", categories_path, class:"back__style"%>
  </div>
  <div class="title">
    <p>新しいカテゴリーを作成</p>
  </div>
  <div class="space"></div>
</section>

<%= render  "form", button_value: "新規作成" %>