<div class="card category-card">
  <div class="text-left">
    <span>
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </span>
   </div>

  <div class="text-center">
    <span>カテゴリー名</span>
  </div>
</div>

<%= form_with model: @category, url: "/categorys", method: :post, local: true do |f| %>
  <div class="card category-card pt-3 pb-5">
    <p>カテゴリー名：<%= f.text_field :name ,size: 50, class: "category-submit"%></p>
  </div>
  <div>  
    <%= f.submit "作成", class:"category-button btn-block"%>
  </div>
<% end %>
