<div class="card category-card">
  <div>
    <div class="text-left w-25 d-inline-block float-left">
      <%= link_to "キャンセル", tasks_path, class: 'text-dark'%>
    </div>
    <div class="w-50 d-inline-block float-left">
      <h5 class="text-center">カテゴリー</h5>
    </div>
    <div class="ml-3 bg-dark w-25 d-inline-block float-left">
    </div>
  </div>
</div>

