<div class="card category-card">
  <div class="text-left">
    <span>
      <%= link_to "キャンセル", root_path, class: 'text-dark'%>
    </span>
   </div>

  <div class="text-center">
    <span>カテゴリー名</span>
  </div>
</div>

