<%= render "form" %>

<%# 削除ボタン%>
<div class="category-delete">
  <center>
    <%= link_to "このカテゴリーを削除する" ,category_path(@category), class: "btn-block btn-sm btn-sm mr-1 text-light",data: { confirm: '本当に削除しますか?' } ,method: :delete%>
  </center>
</div>