<h1>カテゴリー</h1>

<div class="text-right">
   <%# 追加ボタン %>
    <%= link_to new_category_path, class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %> 
      <span class="mr-2">カテゴリーを追加</span><i class="fas fa-plus-circle"></i>
    <% end %>
</div>
  

<div id="tasks-list">

<% @categorys.each do |c| %>

  <div class="card">
    <a href="/tasks#index" class="category_link">
    <div class="card-body">
      <div class="d-flex justify-content-between">

        <div class="task-status">
          <%# グリッド%>  
          <i class="fas fa-grip-lines-vertical text-primary grip mr-2 "></i>

          <%# カテゴリー名 %>
          <span class="h5 pr-5"><%= c.name %></span>

        </div>  

        <%# ボタン %>
        <div class="d-none d-sm-block ">
          <div class="btn-group d-flex">
            <div class="btn-toolbar">
                
                <%# 共有ボタン %>
                <%= link_to participations_path,class: "btn text-dark btn-sm btn-sm mr-1", :method => :get do %>
                <i class="fas fa-link"></i>
                <% end %>

                <%# 編集ボタン %>
                <%= link_to edit_category_path(c),class: "btn text-primary btn-sm btn-sm mr-1", :method => :get do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>

  </div>

<% end %>
</div>