<%= render partial: "form"%>

<div class="card category-form">
  <%= form_with model: @category, url: "/categorys", method: :post, local: true do |f| %>
    <p>カテゴリー名：<%= f.text_field :name ,size: 50, class: "category-submit"%></p>
    <%= f.submit "作成" , class:"category-button btn-block"%>
  <% end %>
</div>