<%= render "form"%>

<div class="card category-form">
  <%= form_with model: @category, url: "/categorys",local: true do |f| %>
    <p class="pt-3">カテゴリー名：<%= f.text_field :name ,size: 50, class: "category-submit"%></p>
    <%= f.submit "作成", class:"category-button btn-block"%>
  <% end %>
</div>