 <!-- ナビメニュー -->
<nav id="nav">
  <ul>
    <li><a href="#">SUMPLE1</a></li>
    <li><a href="#">SUMPLE2</a></li>
    <li><a href="#">SUMPLE3</a></li>
  </ul>
</nav>

<!-- ハンバーガーメニューのアイコン -->
<div id="hamburger">
  <!-- 1番上の線 -->
  <span class="inner_line" id="line1"></span>
  <!-- 真ん中の線 -->
  <span class="inner_line" id="line2"></span>
  <!-- 1番下の線 -->
  <span class="inner_line" id="line3"></span>
</div> 
